@import "tailwindcss";

/* :root {
    --background: #ffffff;
    --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
    /* --breakpoint-xs: 475px; */

    --font-peyda: var(--font-peyda);
    --font-geist-sans: var(--font-geist-sans);
    --font-geist-mono: var(--font-geist-mono);

    --color-drd-primary-50: #eff4ff;
    --color-drd-primary-75: #e6f0fc;
    --color-drd-primary-100: #dbe6fe;
    --color-drd-primary-200: #bfd3fe;
    --color-drd-primary-300: #93b4fd;
    --color-drd-primary-400: #6090fa;
    --color-drd-primary-500: #3b76f6;
    --color-drd-primary-600: #2563eb;
    --color-drd-primary-700: #1d58d8;
    --color-drd-primary-800: #1e4baf;
    --color-drd-primary-900: #1e408a;
    --color-drd-primary-950: #172a54;

    --color-drd-neutral-50: #f6f7f8;
    --color-drd-neutral-100: #eaecef;
    --color-drd-neutral-200: #dbdee2;
    --color-drd-neutral-300: #c2c9ce;
    --color-drd-neutral-400: #adb5bd;
    --color-drd-neutral-500: #8e97a3;
    --color-drd-neutral-600: #7d8593;
    --color-drd-neutral-700: #707685;
    --color-drd-neutral-800: #5e636f;
    --color-drd-neutral-900: #4e525a;
    --color-drd-neutral-950: #323439;
}

body {
    /* background: var(--background);
  color: var(--foreground); */
    font-family: var(--font-peyda), Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to bottom, var(--color-drd-primary-50), white); */
    @apply bg-gradient-to-b bg-drd-primary-50 from-drd-primary-50 to-white;
}

.r2l {
    direction: rtl;
}

.l2r {
    direction: ltr;
}

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--color-zinc-200);
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--color-zinc-300);
}

::-webkit-scrollbar-thumb:vertical {
    background-color: var(--color-zinc-300);
}

* {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

.glass-effect {
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
}

@layer utilities {
    .glass-effect {
        backdrop-filter: blur(20px) saturate(150%);
        -webkit-backdrop-filter: blur(20px) saturate(150%);
    }

    .app-px {
        @apply px-4 sm:px-16 md:px-28 lg:px-40 xl:px-52;
    }
}

@layer components {
    /* ========================= */
    /* 🔹 Responsive Headings */
    /* ========================= */

    .title-extra-large {
        color: var(--color-drd-neutral-950); /* Set color for the title */
        font-size: clamp(
            2.5rem,
            6vw,
            3.5rem
        ); /* Font size adjusts responsively (clamped between 2.5rem and 4rem) */
        font-weight: bolder; /* Apply extra-bold font weight */
        line-height: 1.25; /* Set line-height for better readability */
    }

    .title-large {
        color: var(--color-drd-neutral-950); /* Set color for the title */
        font-size: clamp(
            2rem,
            5vw,
            3rem
        ); /* Font size adjusts responsively (clamped between 2rem and 3.5rem) */
        font-weight: bold; /* Apply bold font weight */
        line-height: 1.375; /* Set line-height for readability */
    }

    .title-medium {
        color: var(--color-drd-neutral-950); /* Set color for the title */
        font-size: clamp(
            1.75rem,
            4vw,
            2.5rem
        ); /* Font size adjusts responsively (clamped between 1.75rem and 3rem) */
        font-weight: 600; /* Apply semi-bold font weight */
        line-height: 1.375; /* Set line-height for readability */
    }

    .title-small {
        color: var(--color-drd-neutral-950); /* Set color for the title */
        font-size: clamp(
            1.5rem,
            3vw,
            2rem
        ); /* Font size adjusts responsively (clamped between 1.5rem and 2.5rem) */
        font-weight: 500; /* Apply semi-bold font weight */
        line-height: 1.5; /* Set line-height for readability */
    }

    .title-form {
        @apply text-drd-neutral-950 text-xl sm:text-2xl font-semibold;
    }

    /* ========================= */
    /* 🔹 Responsive Paragraphs */
    /* ========================= */

    .text-p-extra-large {
        color: var(--color-drd-neutral-600); /* Set color for the paragraph */
        font-size: clamp(
            1.25rem,
            3.5vw,
            2rem
        ); /* Font size adjusts responsively (clamped between 1.25rem and 2.5rem) */
        font-weight: normal; /* Apply normal font weight */
        line-height: 1.5; /* Set line-height for better readability */
    }

    .text-p-large {
        color: var(--color-drd-neutral-600); /* Set color for the paragraph */
        font-size: clamp(
            1.125rem,
            3vw,
            1.5rem
        ); /* Font size adjusts responsively (clamped between 1.125rem and 2rem) */
        font-weight: normal; /* Apply normal font weight */
        line-height: 1.75; /* Set line-height for better text readability */
    }

    .text-p-medium {
        color: var(--color-drd-neutral-600); /* Set color for the paragraph */
        font-size: clamp(
            1rem,
            2.5vw,
            1.5rem
        ); /* Font size adjusts responsively (clamped between 1rem and 1.5rem) */
        font-weight: normal; /* Apply normal font weight */
        line-height: 1.75; /* Set line-height for better text readability */
    }

    .text-p-small {
        color: var(--color-drd-neutral-600); /* Set color for the paragraph */
        font-size: clamp(
            0.875rem,
            2vw,
            1.25rem
        ); /* Font size adjusts responsively (clamped between 0.875rem and 1.25rem) */
        font-weight: normal; /* Apply normal font weight */
        line-height: 1.75; /* Set line-height for better text readability */
    }

    .text-p-form {
        @apply text-drd-neutral-600 text-sm sm:text-base;
    }

    /* ========================= */
    /* 🔹 Cards */
    /* ========================= */

    .drd-form-card {
        @apply bg-white flex flex-col items-center gap-4
        rounded-lg shadow-md w-full max-w-full sm:max-w-80 px-6 py-8;
    }

    /* ========================= */
    /* 🔹 Inputs */
    /* ========================= */

    .drd-input {
        @apply outline-none transition-all 
        text-drd-neutral-800 text-sm bg-white
        placeholder:text-xs placeholder:text-drd-neutral-400
        border rounded px-2 w-full h-9 min-h-9;
    }

    .drd-input-normal {
        @apply border-drd-primary-300 focus:border-drd-primary-500 selection:bg-drd-primary-200;
    }

    .drd-input-error {
        @apply border-red-400 focus:border-red-600 selection:bg-red-200;
    }

    .drd-float-input {
        @apply outline-none transition-all
        text-sm text-drd-neutral-800 bg-white
        placeholder:text-transparent placeholder:text-xs
        border rounded px-2 w-full h-9 min-h-9;
    }

    .drd-float-input-normal {
        @apply border-drd-primary-300 focus:border-drd-primary-500 selection:bg-drd-primary-200;
    }

    .drd-float-input-error {
        @apply border-red-400 focus:border-red-600 selection:bg-red-200;
    }

    .drd-textarea {
        @apply outline-none transition-all 
        text-drd-neutral-800 text-sm bg-white
        placeholder:text-xs placeholder:text-drd-neutral-400
        border rounded p-2 w-full min-h-24;
    }

    .drd-textarea-normal {
        @apply border-drd-primary-300 focus:border-drd-primary-500 selection:bg-drd-primary-200;
    }

    .drd-textarea-error {
        @apply border-red-400 focus:border-red-600 selection:bg-red-200;
    }

    /* ========================= */
    /* 🔹 Toast */
    /* ========================= */

    .toast {
        @apply flex fixed justify-between items-start rounded-lg rounded-r-none mx-auto
        hover:!scale-105 transition-all shadow-lg cursor-default p-4 w-[92dvw] sm:w-80 z-50;

        &.success {
            @apply bg-green-50 text-green-700 border-r-4 border-green-700;

            &.toast-progress {
                @apply after:bg-green-700;
            }
        }

        &.error {
            @apply bg-red-50 text-red-600 border-r-4 border-red-600;

            &.toast-progress {
                @apply after:bg-red-600;
            }
        }

        &.info {
            @apply bg-blue-50 text-blue-700 border-r-4 border-blue-700;

            &.toast-progress {
                @apply after:bg-blue-700;
            }
        }

        &.success button {
            @apply text-green-700;
        }

        &.error button {
            @apply text-red-600;
        }

        &.info button {
            @apply text-blue-700;
        }
    }

    .toast-progress::after {
        left: 0;
        width: 0;
        bottom: 0;
        height: 2px;
        content: "";
        display: block;
        position: absolute;
        animation: toast-progress-animation var(--toastDuration, 4s) linear
            forwards;
    }
}

@keyframes toast-progress-animation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
