@import "tailwindcss";

@theme {
    --font-peyda: var(--font-peyda);
    --font-iran-yekan-x: var(--font-iran-yekan-x);

    --color-drd-primary: #3b76f6;

    --color-drd-primary-25: #f0f8ff;
    --color-drd-primary-50: #eff4ff;
    --color-drd-primary-75: #e6f0fc;
    --color-drd-primary-100: #dbe6fe;
    --color-drd-primary-200: #bfd3fe;
    --color-drd-primary-300: #93b4fd;
    --color-drd-primary-400: #6090fa;
    --color-drd-primary-500: #3b76f6;
    --color-drd-primary-600: #2563eb;
    --color-drd-primary-700: #1d58d8;
    --color-drd-primary-800: #1e4baf;
    --color-drd-primary-900: #1e408a;
    --color-drd-primary-950: #172a54;

    --color-drd-neutral: #71717a;

    --color-drd-neutral-50: #fafafa;
    --color-drd-neutral-100: #f4f4f5;
    --color-drd-neutral-200: #e4e4e7;
    --color-drd-neutral-300: #d4d4d8;
    --color-drd-neutral-400: #a1a1aa;
    --color-drd-neutral-500: #71717a;
    --color-drd-neutral-600: #52525b;
    --color-drd-neutral-700: #3f3f46;
    --color-drd-neutral-800: #27272a;
    --color-drd-neutral-900: #18181b;
    --color-drd-neutral-950: #09090b;
}

body {
    font-family: var(--font-iran-yekan-x), Arial, Helvetica, sans-serif;
    @apply bg-gradient-to-b bg-drd-primary-25;
}

.r2l {
    direction: rtl;
}

.l2r {
    direction: ltr;
}

.ss02 {
    font-feature-settings: "ss02";
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
}

/* ---------------------------------------------------------------------- */
/* Scroll area */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--color-zinc-200);
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--color-zinc-300);
}

::-webkit-scrollbar-thumb:vertical {
    background-color: var(--color-zinc-300);
}

* {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

.glass-effect {
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
}

@layer utilities {
    .glass-effect {
        backdrop-filter: blur(20px) saturate(150%);
        -webkit-backdrop-filter: blur(20px) saturate(150%);
    }

    .app-px {
        /* @apply px-4 sm:px-16 md:px-28 lg:px-40 xl:px-52; */
        @apply px-4 md:px-16 lg:px-24 xl:px-48 2xl:px-80;
    }
}

@layer components {
    /* ========================= */
    /* 🔹 Responsive Headings */
    /* ========================= */

    .title-large {
        @apply text-drd-neutral-700 text-3xl
       sm:text-4xl md:text-5xl lg:text-6xl font-bold;
    }

    .title-medium {
        @apply text-drd-neutral-700 text-2xl
       sm:text-3xl md:text-4xl lg:text-4xl font-bold;
    }

    .title-small {
        @apply text-drd-neutral-700 text-xl
       sm:text-2xl md:text-2xl lg:text-3xl font-bold;
    }

    .form-title {
        @apply text-drd-neutral-700 text-xl sm:text-2xl font-semibold;
    }

    /* ========================= */
    /* 🔹 Responsive Paragraphs */
    /* ========================= */

    .text-p-large {
        @apply text-drd-neutral text-lg
        sm:text-xl md:text-2xl lg:text-3xl;
    }

    .text-p-medium {
        @apply text-drd-neutral text-base
        sm:text-lg md:text-xl lg:text-2xl;
    }

    .text-p-small {
        @apply text-drd-neutral text-base
        sm:text-base md:text-lg lg:text-xl;
    }

    .form-description {
        @apply text-drd-neutral text-sm sm:text-base;
    }

    /* ========================= */
    /* 🔹 Cards */
    /* ========================= */

    .drd-form-card {
        @apply bg-white flex flex-col items-center gap-4
        rounded-xl shadow w-full max-w-full sm:max-w-72 px-6 py-8;
    }

    /* ========================= */
    /* 🔹 Badge */
    /* ========================= */

    .drd-badge {
        @apply inline-flex items-center justify-center gap-2 focus:outline-none
        text-xs transition-colors rounded-md border-none px-2 py-1;
    }

    /* ========================= */
    /* 🔹 Input */
    /* ========================= */

    .drd-input {
        @apply transition-colors 
        text-drd-neutral-700 text-sm bg-transparent
        placeholder:text-xs placeholder:text-drd-neutral-400
        disabled:cursor-not-allowed disabled:opacity-50
        outline rounded-md px-3 py-1 w-full h-9;
    }

    .drd-input-normal {
        @apply outline-drd-neutral-400 
        focus:outline-drd-primary-500 selection:bg-drd-primary-100;
    }

    .drd-input-error {
        @apply outline-red-400 
        focus:outline-red-600 selection:bg-red-200;
    }

    /* ========================= */
    /* 🔹 Float Label Input */
    /* ========================= */

    .drd-float-input {
        @apply transition-colors
        text-sm text-drd-neutral-800 bg-transparent
        placeholder:text-transparent placeholder:text-xs
        disabled:cursor-not-allowed disabled:opacity-50
        outline rounded-md px-3 py-1 w-full h-9;
    }

    .drd-float-input-normal {
        @apply outline-drd-neutral-400 
        focus:outline-drd-primary selection:bg-drd-primary-100;
    }

    .drd-float-input-error {
        @apply outline-red-400 
        focus:outline-red-600 selection:bg-red-200;
    }

    /* ========================= */
    /* 🔹 Text Area */
    /* ========================= */

    .drd-textarea {
        @apply transition-colors 
        text-drd-neutral-800 text-sm bg-transparent
        placeholder:text-xs placeholder:text-drd-neutral-400
        disabled:cursor-not-allowed disabled:opacity-50
        outline rounded-md p-2 w-full min-h-24;
    }

    .drd-textarea-normal {
        @apply outline-drd-neutral-400
        focus:outline-drd-primary-500 selection:bg-drd-primary-100;
    }

    .drd-textarea-error {
        @apply outline-red-400 
        focus:outline-red-600 selection:bg-red-200;
    }
    /* ========================= */
    /* 🔹 Toast */
    /* ========================= */

    .toast {
        @apply flex fixed justify-between items-start rounded-lg rounded-r-none mx-auto
        hover:!scale-105 transition-all shadow-lg cursor-default p-4 w-[92dvw] sm:w-80 z-50;

        &.success {
            @apply bg-green-50 text-green-700 border-r-4 border-green-700;

            &.toast-progress {
                @apply after:bg-green-700;
            }
        }

        &.error {
            @apply bg-red-50 text-red-600 border-r-4 border-red-600;

            &.toast-progress {
                @apply after:bg-red-600;
            }
        }

        &.info {
            @apply bg-blue-50 text-blue-700 border-r-4 border-blue-700;

            &.toast-progress {
                @apply after:bg-blue-700;
            }
        }

        &.success button {
            @apply text-green-700;
        }

        &.error button {
            @apply text-red-600;
        }

        &.info button {
            @apply text-blue-700;
        }
    }

    .toast-progress::after {
        left: 0;
        width: 0;
        bottom: 0;
        height: 2px;
        content: "";
        display: block;
        position: absolute;
        animation: toast-progress-animation var(--toastDuration, 4s) linear
            forwards;
    }
}

@keyframes toast-progress-animation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
