@import "tailwindcss";
@import "tw-animate-css";

@theme {
	--font-peyda: var(--font-peyda);
	--font-iran-yekan-x: var(--font-iran-yekan-x);
}

* {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}

@layer utilities {
	.glass-effect {
		backdrop-filter: blur(20px) saturate(150%);
		-webkit-backdrop-filter: blur(20px) saturate(150%);
	}

	.app-px {
		/* @apply px-4 sm:px-16 md:px-28 lg:px-40 xl:px-52; */
		@apply px-4 md:px-16 lg:px-24 xl:px-48 2xl:px-80;
	}
}

.r2l {
	direction: rtl;
}

.l2r {
	direction: ltr;
}

.ss02 {
	font-feature-settings: "ss02";
	-moz-font-feature-settings: "ss02";
	-webkit-font-feature-settings: "ss02";
}

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;

	--background: oklch(99.1% 0.0015 277.7);
	--foreground: oklch(35.3% 0.0139 277.7);

	--card: oklch(1 0 0);
	--card-foreground: oklch(34.769% 0.01385 285.625);

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(34.769% 0.01385 285.625);

	--primary: oklch(0.5433 0.1913 266.76);
	--primary-foreground: oklch(0.985 0 0);

	--secondary: oklch(94.912% 0.00011 271.152);
	--secondary-foreground: oklch(0.205 0 0);

	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(63.183% 0.01201 280.3);

	--accent: oklch(0.969 0.0132 262.38);
	--accent-foreground: oklch(0.5433 0.1913 266.76);

	--destructive: oklch(54.075% 0.20764 26.166);

	--ring: oklch(93.1% 0.0061 277.7);
	--border: oklch(93.1% 0.0061 277.7);

	--input: oklch(91% 0.0077 277.7);

	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(50.3% 0.0139 277.7);
	--sidebar-primary: oklch(0.5433 0.1913 266.76);
	--sidebar-primary-foreground: oklch(0.969 0.0132 262.38);

	--sidebar-accent: oklch(0.969 0.0132 262.38);
	--sidebar-accent-foreground: oklch(0.5433 0.1913 266.76);

	--sidebar-border: oklch(93.1% 0.0061 277.7);
	--sidebar-ring: oklch(93.1% 0.0061 277.7);

	--arzwatch-foreground: oklch(100% 0.00011 271.152);
}

.dark {
	--background: oklch(17.8% 0.0042 277.7);
	--foreground: oklch(95% 0.0026 277.7);

	--card: oklch(21.5% 0.004 277.7);
	--card-foreground: oklch(95% 0.0026 277.7);

	--popover: oklch(21.5% 0.004 277.7);
	--popover-foreground: oklch(77% 0.0138 277.7);

	--primary: oklch(0.5433 0.1913 266.76);
	--primary-foreground: oklch(21.5% 0.004 277.7);

	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);

	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(77% 0.0138 277.7);

	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(95% 0.0026 277.7);

	--destructive: oklch(64.092% 0.24466 27.738);

	--ring: oklch(31.4% 0.0089 277.7);
	--border: oklch(31.4% 0.0089 277.7);

	--input: oklch(28.4% 0.0075 277.7);

	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);

	--sidebar: oklch(21.5% 0.004 277.7);
	--sidebar-foreground: oklch(77% 0.0138 277.7);
	--sidebar-primary: oklch(0.5433 0.1913 266.76);
	--sidebar-primary-foreground: oklch(77% 0.0138 277.7);

	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(95% 0.0026 277.7);

	--sidebar-border: oklch(31.4% 0.0089 277.7);
	--sidebar-ring: oklch(28.4% 0.0075 277.7);

	--arzwatch-foreground: oklch(0.269 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);

	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);

	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);

	--color-destructive: var(--destructive);

	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);

	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);

	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);

	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);

	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);

	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);

	--color-arzwatch-foreground: var(--arzwatch-foreground);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
